{% extends "index.html" %}
{% block content %}

<div class="container" style="padding: 5px;">
     <!--- select option  -->
    <form class="bs-example bs-example-form" style="position: relative;background-color: rgba(10,11,3,0.78);color:#eff58f;">
     <select class="host" style="width: 30%;height:300px;position:static;float:left;background-color: rgba(3,11,5,0.64);color: navajowhite;" multiple class="form-control">
     {% for gp in groupList %}
          <option value="{{ gp }}" style="text-align: center;font-size: 20px;">{{ gp }}</option>
     {% endfor %}
     </select>
     <h2 style="text-align: center;">
      <i class="fa fa-cloud-download" style="font-size: 300%;color:#18e873;position: relative;margin:0 auto;padding:0 auto;"></i>
     </h2>

     <label style="width: 70%;text-align: center;margin: auto;padding: 2px;">LocalPath</label>
     <input id="src" value="~/" type="text" class="form-control" style="position:static; width:60%;margin:0 auto;" />

     <label style="width: 70%;text-align: center;margin: auto;padding: 2px;">RemotePath:</label>
     <input id="dest" value="~/" type="text" class="form-control" style="position:static; width:60%;margin:0 auto;" />
        <br/>
     <input id="fileDo" type="button" class="form-control" style="position:static;width:20%;margin:0 auto;" value="Submit"/>
    </form>
 </div>
     <!--- opiton over  -->


    <!-- 执行结果反馈  -->
    <div class="container">
        <h2><i>RESULT:</i></h2>
        <br>
        <div style='width:100%; height: auto;text-align: center;background-color: #8c8c8c;'>
        <p id="p2"> </p>
        </div>
    </div>



{% endblock %}
